<!DOCTYPE html>
<html>
  <head>
    <title>grantsl</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>grantsl</h1>
    <p>Welcome to grantsl running locally</p>
  </body>
</html>